@model PROGRESO_UNO_QUISPE_RONNY.Models.RecompensaCliente

@{
    ViewData["Title"] = "Edit";
}
<style>
    body {
        background-image: url('https://r-xx.bstatic.com/xdata/images/hotel/608x352/156454345.webp?k=fa432f97a5bda820ec3f783b000cf969420df810095124ac77a8dc5db2f5f376&o=');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    .form-control, .form-group, .btn, h4 {
        background-color: rgba(255, 255, 255, 0.8); 
        border-radius: 10px;
        padding: 5px;
    }

    .col-md-4 {
        background-color: rgba(255, 255, 255, 0.85);
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    h4 {
        margin-top: 20px;
        padding: 10px;
    }
</style>

<h1>Edit</h1>

<h4>RecompensaCliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecompensaId" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PuntosAcumulados" class="control-label"></label>
                <input asp-for="PuntosAcumulados" class="form-control" />
                <span asp-validation-for="PuntosAcumulados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="color: mediumturquoise;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
